html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Alegreya", serif;
  text-align: center;
  padding: 16px;
  background-color: grey;
}

h1{
font-size: 38px;
color: orange;
}